@media (max-width: 480px) {
    .container{
        max-width: 100%;
    }
    .icon-menu{
        display:flex;
        width: 3rem;
        height: 2.5rem;
        margin-top: 1.5rem;
        margin-left: 2rem;
    }
    .logo{
        height: 3rem;
        width: 17rem;
    }
    .top-icons{
        margin-left: 7rem;
        margin-top: -0.5rem;
    }
    .cart {
        width: 3rem;
        height: 3rem;
        
    }
    .cart-box{
        /* width: 47rem; */
        width: 90vw;
        height: 33rem;
        right: -6rem;
        border-radius: 1rem;
    }
    .cart-box h5{
        height: 7rem;
        font-size:2rem;
    }
    .cart-box p{
        text-align: center;
        margin-top: 4rem;
        font-size: 2rem;
    }
    .cart-products{
        width: 90vw;
    }
    .delete-icon{
        margin-right: 2rem;
    }
    #cart-product-name{
        font-size:2rem;
    }
    .avatar{
        margin-top: 0.5rem;
    }

    .top-nav{
        display: flex;
        align-items: center;
        justify-content: space-between;
        gap: 2rem;
        border-bottom: none;
    }
    .select-menu{
        display:none;
        
    }
    .main-content{
        display: flex;
        flex-direction: column;
    }
    .product-images{
        flex:1;
        width: 100vh;
        padding: 0;    
    }
    .small-images-under{
        display: none;
    }
    .main-picture{
        margin-top: 0;
        border-radius: 0;
        background-size: cover;
        height: 43rem;
        object-fit: cover;
        width: 100vh;
        max-width: 480px; 

    }
    .icon-previous{
        top: 27rem;
    }
    .icon-next{
        top: 27rem;
        left: 41rem;
    }
    h2{
        font-size: 1.5rem;
        letter-spacing: 0.2rem;
        margin-top: -2rem;
    }

    h1{
        font-size: 4rem;
    }
    .product-description{
        padding:3rem;
        margin-top: 0;
        width: 50vh;
        max-width: 480px;
    }
    h4{
        font-size: 2rem;
        position: absolute;
        bottom: -3rem;
        left: 34rem;
    }
    .dollar-sign{
        font-size: 4rem;

    }
    h3{
        font-size: 4rem;
    }
    .quantity{
        width: 48rem;
    }
    .add-product{
        flex-direction: column;
    }
    .add-product button{
        height: 8rem;
        margin-top: 2rem;
        width: 42rem;
        font-size: 2.5rem;
    }
    .plus{
        margin-right: 4rem;
    }
}
